[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
prospector = "*"
black = "*"
mypy = "*"
pre-commit = "*"
pipenv-setup = "*"

[packages]
aswfdocker = {editable = true,path = "."}
click = "*"
pygithub = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
