[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
atomicwrites = {version = "*", markers = "platform_system == 'Windows'"}
pytest-cov = "*"
pylint = "*"
black = "==21.9b0"
mypy = "*"
pre-commit = "*"
pytest-pylint = "*"
types-click = "*"
types-jinja2 = "*"
types-pyyaml = "*"
types-requests = "*"
# pipenv-setup = "*" # commented for now as it requires a very old black version!
aswfdocker = {editable = true, path = "."}

[packages]
aswfdocker = {editable = true, path = "."}
click = "*"
pygithub = "==1.53" # Needed to work with Conan 1.41
pyyaml = "*"
jinja2 = "*"
requests = "*"
importlib-resources = "*"
conan = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
