[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aswfdocker = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
prospector = "*"
black = "*"
mypy = "*"

[packages]
click = "*"
aswfdocker = {path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
